h1{
  text-align: center;
}
.container{

  text-align: center;
  background:url(../img/background.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;

}
#submit{
  background: red;
  color: white;
}
#output{
  color:#800000 ;
  font-size: 20px;
  font-family: Times;
  font-weight: bold;
  text-align: left;
  margin: 15px;
  padding: 15px;
}
.jumbotron{
  background:url(../img/background.jpg);
  /* background: #55dd39; */
  font-size: 50px;
  font-family: Times;
  font-weight: bold;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}
.border{
  text-align: left;
  margin: 10px;
  padding: 10px;
  font-family: Times;
  font-weight: bold;
}
.background{
  background-color: #24b2e5;
}
/* .well{
padding-left: 200px;
background: black
color: white
} */
.center-text{
  text-align: center;
  color: #800000;
  font-weight: bold;
}
body{
  margin: 9px;
  padding: 15px;

}
