h1{
  text-align: center;
}
.container{

  text-align: center;
  background:url(../img/background.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;

}
#submit{
  background: red;
  color: white;
}
#output{
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
}
.jumbotron{
  background: #82c66b;
font-size: 50px;
font-family: sans-serif;
font-weight: bold;
}

/* .well{
  padding-left: 200px;
  background: black
  color: white
} */
.center-text{
  text-align: center;
  color: #800000;
  font-weight: bold;
}
